.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-register input {
  margin: 0.4rem 0;
  border-radius: 5%;
  border: none;
  background-color: gray;
  padding: 0.5rem;
  outline: 2px solid black;
  color: #fff;
  font-weight: bolder;
}
::placeholder {
  color: lightgray;
  font-weight: bolder;
}
.form-register button {
  margin: 0.4rem 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10%;
  background-color: #837fa4;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}
.form-register button:hover {
  background-color: #695fbf;
}
